server:
  port: 8080
  mode: "debug"
  jwt_secret: "goportal-secret-key-change-me"

redis:
  address: "127.0.0.1:6379"
  password: ""
  db: 0

livekit:
  url: "ws://localhost:7880"
  api_key: "devkey"
  api_secret: "livekit-dev-secret-change-me-32chars"

logger:
  log_level: "info"
  slack_hook_url: ""

database:
  engine: "sqlite3"
  dsn: "app.db"
  migration_dir: "migrations"

cron:
  enabled: true
  spec: "0 1 * * *"

slack:
  webhook_url: ""

cloudinary:
  cloud_name: ""
  api_key: ""
  api_secret: ""
  folder: ""
